
# general
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Generierte UI und Resource Dateien
*_rc.py
ui_*.py
*.qmlc
*.jsc

# QtCreator stuff
*.pro.user
*.pro.user.*
*.pyproject.user

.qtcreator/

# sphinx stuff
build/
docs/build/
docs/_build/
docs/generated/
docs/source/_autosummary/


